/* ==========================
   FONTS
========================== */

@font-face {
  font-family: "Archivo Black";
  src: url("./fonts/ArchivoBlack-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* ==========================
   RESET
========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==========================
   BODY
========================== */

body {
  background-color: #111111;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

/* ==========================
   IMAGES
========================== */
img {
  img {
    display: block;
    max-width: 100%;
  }
}

.hero {
  max-width: 1023px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 
  max-width:
}

.hero__name {
  font-family: "Archivo Black", sans-serif;
}

.skills {
  margin: auto;
  flex-wrap: wrap;
  gat:
}
.skills__title {
  font-family: "Archivo Black", sans-serif;
}
.projects__title {
  font-family: "Archivo Black", sans-serif;
}
.footer__title {
  font-family: "Archivo Black", sans-serif;
}



.skills__images {
  display: flex;
  justify-content: space-between;
}

.projects__cards {
  display: flex;
  flex-direction: column;
  position: relative;
}

.projects-card__content {
  flex: 1;
  padding: 20px;
}

.project-card__technologies {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
